<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teghpp">

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="teghpp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".GradoModerado"
            android:parentActivityName=".PerdidaActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".GradoCompesado"
            android:parentActivityName=".PerdidaActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MainActivity"
            android:parentActivityName=".SplashActivity"
            android:screenOrientation="portrait">



        </activity>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.Design.NoActionBar"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Hora"
            android:label="HORA DORADA"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PerdidaActivity"
            android:label="Evaluación del paciente"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Patientdata"
            android:label="Historia perinatológica"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MenuActivity"
            android:label="TABLA DE BASKETT"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Registro"
            android:label="Registrar nuevo usuario"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".Login"
            android:parentActivityName=".Registro"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>